@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-primary: #4aa5d8;
    --color-secondary: #e8592c;
    --color-white: #f4f5f2;
}

body {
    font-size: 100%;
    background: linear-gradient(to right, #0F141E 40%, #233154);
    padding: 0 100px;
}

header, .conteudo-slogan, .conteudo-autismo1, footer {
    border-color: #9999;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-img {
    height: 30px;
}

.cabecalho-menu {
    display: flex;
    gap: 70px;
}

.cabecalho-menu-item {
    font-weight: 400;
    text-decoration: none;
    color: #f4f5f2;
    position: relative;
}

.cabecalho-menu-item::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #417AB5, #F8A77E);
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.cabecalho-menu-item:hover::after{
    width: 30px;

}

.conteudo-slogan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-slogan-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-slogan-escrito-paragrafo1, .conteudo-slogan-escrito-paragrafo2 {
    text-align: justify;
    margin-left: 100px;
    font-size: 22px;
    margin-right: 120px;
    }

.conteudo-slogan-escrito-paragrafo2 {
    margin-bottom: 200px;
}

.conteudo-slogan-escrito-titulo {
    font-size: 64px;
    margin-left: 100px;
    text-align: left;
    margin-top: 100px;
}

.conteudo-slogan-imagem {
    max-width:800px;
    max-height:550px;
    width: auto;
    height: auto;
    margin-right: 100px;
    margin-top: -50px;
    margin-bottom: 30px;
}

.conteudo-slogan-escrito-paragrafo {
    font-size: 25px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-center {
    text-align: center;
}